/.MemuHyperv/
/.PyCharmCE2019.1/
/.android/
/.bash_history
/.eclipse/
/.gitconfig
/.idlerc/
/.m2/
/.node_repl_history
/.p2/
/.packettracer
/.tooling/
/.viminfo
/.vscode/
/AppData/
/Cisco Packet Tracer 7.1.1/
/Contacts/
/ATOM Yaman/
/Atom Portable/
/BitTorrent.lnk
/BootCamp Automa\303\247\303\243o de Testes Web/
.gitignore
teste.exe
/Concluidos codewars.txt
/Exerc\303\255cios JAVA - Quarta Aula - BootCamp.txt
/Exerc\303\255cios JAVA - Terceira Aula - BootCamp.txt
/GitHub/
/Link Teams Yaman.txt
/bddcucumbergherkin_2\302\252Aula.pdf
/Cisco Packet Tracer.lnk
/ClashFarmer Premium.lnk
/Crash/
/GitHub Desktop.lnk
/MEmu.lnk
/MICROSOFT Office PRO Plus 2016 v16.0.4266.1003 RTM + Activator [TechTools.NET]/
/MetodoMain.class
/MetodoMain.java
/Microsoft Teams.lnk
/Multi-MEmu.lnk
/Python/
/Visual Studio Code.lnk
/desktop.ini
/eclipse/
/office.cmd
/psx2psp_v.1.4.2/
/\302\265Torrent.lnk
/Documents/
/Downloads/
/Favorites/
/Intel/
/Links/
/Music/
/NTUSER.DAT
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
/OneDrive/
/Pictures/
/PycharmProjects/
/Saved Games/
/Searches/
/Videos/
/eclipse-workspace/
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/ntuser.ini
/workspace/
/yaman-workspace/

